{% extends "base.html" %}

{% block content %}
<!-- body -->

</header>

</div>


<!-- mfn_hook_content_before -->
<!-- mfn_hook_content_before -->
<!-- #Content -->
<div id="Content">
	<div class="tour-container">
		<div class="wrapper">
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Diversity</h3>
				<img class="image-size" src="/static/images/Tourism1_1.jpg" alt="tourism_1">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">With many sites and scenes
					bottled up in to a small island,
					a traveller could be riding the waves in the dawn and admiring
					the green carpeted mountains by dusk. Travel destinations in Sri
					Lanka provide an array of holiday experiences from beach holidays
					to a marathon of wildlife watching, adrenaline pumping adventure
					sports and pilgrimage to some of the oldest cities in the world.
					With so many cultures living next to each other, life in Sri Lanka
					offers a series of festivities throughout the year.
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">People</h3>
				<img class="image-size" src="/static/images/Tourism1_2.jpg" alt="tourism_2">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Sri Lanka is a multi-ethnic, multi-religious and multi-cultural
					society – a reflection of the island's encounter with successive foreign immigrants.
				</p>
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					The main ethnics, Sinhalese and Tamils, both originate from the Indian subcontinent.
					Muslims settlers reached the island from the time it became an ancient trading centre.
					Similarly, Malays and Chinese were attracted to the island. The Portuguese and British
					brought with them Kaffirs from Africa, and the Dutch an assortment of European traders,
					the Burghers. A fascinating mixture of cultures. And whatever their situation in society
					– the smiles and the hospitality of Sri Lankans are legendary and worth an experience.
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Cultural Heritage</h3>
				<img class="image-size" src="/static/images/Tourism1_3.jpg" alt="tourism_3">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					The small island is proud of eight UNESCO World Heritage sites,
					which can be visited within one week. These include historic Galle
					in the south of the Island with its famous fort from the Dutch colonial
					period. In the heart of Sri Lanka, right in the mountainous jungle, Kandy,
					the hidden kingdom and the religious capital, awaits to be discovered.
					The gigantic monolith Sigiriya and the ancient cities of Anuradhapura and
					Polonnaruwa are also worth seeing – as well as the cave temple of Dambulla,
					the Sinharaja Forest Reserve and the Central Highlands.
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Festivals</h3>
				<img class="image-size" src="/static/images/Tourism1_4.jpg" alt="tourism_4">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Nearly all the world's major religious denominations are represented in Sri Lanka.
					Add to this a plethora of ethnicities and social groupings, and the result is a crowded
					festival calendar.
				</p>
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Numerous colorful festivals, giving new life to ancient traditions
					and spiritual practices of the islanders, are not to be missed.
					A highlight for all senses is Aluth Avurudda – the Hindu and Buddhist
					New Year's festival in April. For two days life takes place on the streets
					– with music, fireworks and delicious food. The Vesak festival in May is the
					most important festival of the Buddhists, which marks the first month of the
					Buddhist calendar year. Roads and houses are decorated with ornate lanterns
					and all of Sri Lanka looks like a single sea of lights. At the Kandy Festival
					(July/August) vacationers can immerse themselves into the medieval past of Sri Lanka:
					ancient costumes, vibrant dances, music and decorated elephants unleash the beauty of
					the rich tradition of the island.
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Spiritual Experience</h3>
				<img class="image-size" src="/static/images/Tourism1_5.jpg" alt="tourism_5">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Buddhism has become extremely popular in Western countries and in Sri Lanka
					visitors can experience the pure teachings of Buddha, mix with the local
					Buddhists at places of pilgrimage and plunge into the popular belief of the
					Singhalese. One of the most important relics of Buddhism, a holy molar,
					is preserved in the temple of the Dalada Maligawa in Kandy.
					Visitors can join the daily poojas (praying ceremonies)and once a year a
					magnificent procession, is dedicated to the holy relic. Another important place
					of pilgrimage is Adam's Peak, a holy mountain to Buddhists, Hindus, Christians
					and Muslims alike. Visitors can join the walk up to the peak to enjoy the
					sunset and the spiritual atmosphere.
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Ayurveda</h3>
				<img class="image-size" src="/static/images/Tourism1_6.jpg" alt="tourism_6">

				<h4>Ayurveda & Spas</h4>
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Well-being for all senses is part of Sri Lanka's tradition: Ayurveda,
					the 2000 year old Indian medicine, is still very popular in Sri Lanka
					and visitors coming to the island for ayurvedic treatments are very
					often repeaters. Those who don't have the time for a two or three
					weeks stay at one of the health resorts, find Ayurveda massages,
					meditation, yoga lessons or spas in many hotels.
					Sri Lanka is definitely a perfect place for relaxation.
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Nature & Wildlife</h3>
				<img class="image-size" src="/static/images/Tourism1_7.jpg" alt="tourism_7">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Sri Lanka is a haven for nature lovers: from whale watching on the
					southernmost point Dondra Head to an elephant encounter in the Minneriya
					National Park or an expedition through the rainforest of Sinharaja – the
					biodiversity of the island is stunning and 13% of Sri Lanka are conserved
					as national parks, reserves, sanctuaries and jungle corridors.
				</p>

				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					A safari in one of the 14 national parks offers the chance to see some of
					Sri Lanka's 91 mammals (16 endemic) – elephant, leopard, sloth bear,
					sambhur, spotted deer, hog, mouse- and barking-deer, wild boar, porcupine,
					ant-eater, civet cat, loris, giant squirrel, and monkeys such as the macaque,
					purple-faced leaf monkey and grey langur. The island is also an ornithologist's
					paradise, with over 233 resident species, (33 endemic) – but migratory species
					stretch the number to an astounding 482. There are 171 reptiles (101 endemic
					including two crocodile species).
				</p>
			</div>
			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Sports & Adventure</h3>
				<img class="image-size" src="/static/images/Tourism1_8.jpg" alt="tourism_8">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					With over 1,600 km of coast, Sri Lanka is an ideal location for wind-surfing,
					water-skiing, surfing, sailing, scuba-diving (including wreck-diving), snorkeling
					and more.Sri Lanka possesses over 100 hundred rivers, together with lagoons and
					'tanks' (irrigation lakes), so there are plentiful opportunities for year-round kayaking and
					canoeing.
				</p>

				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					The Kelani Ganga near Kitulgala has fast headwaters and rapids ideal
					for white-water rafting. Varied landscapes, wildlife, and archaeological
					sites offer excellent opportunities for hiking and trekking. Nature trails
					include the Sinharaja rainforest, the cloud-forests of Horton Plains,
					the Knuckles (mountain range), and Hakgala Strict Natural Reserve.
				</p>
			</div>

			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Beaches</h3>
				<img class="image-size" src="/static/images/Tourism1_9.jpg" alt="tourism_9">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					Brilliant white sand and palm-lined: the choice of beaches with the
					azure-blue Indian Ocean is inexhaustible. Whether well connected
					trend coasts or lonely bays – Sri Lanka bathes in diversity.
				</p>
			</div>

			<div class="card">
				<h3 style="text-align: center; margin-bottom: 1rem;">Hotels</h3>
				<img class="image-size" src="/static/images/Tourism1_10.jpg" alt="tourism_10">
				<p style="text-align: justify; margin-top: 1rem; padding: 0 4.5rem;">
					The island is generally blessed with impressive hotels usually situated
					in stunning settings. The coastal areas, especially the west and south,
					have innumerable resort hotels. Several are designed by Geoffrey Bawa,
					one of the 20th-century's foremost Asian architects. His vision encompasses
					a style referred to as 'tropical modernism' in which forms of modernism are
					beautifully softened and enriched by traditional influences and surrounding
					landscapes. There are also an increasing number of boutique hotels on the west
					and south coast, mainly centred at Galle. Hill country towns such as Kandy,
					Nuwara Eliya and Bandarawela feature colonial era hotels, and for those who
					venture farther afield, perhaps to indulge in adventure sports,
					there are beautifully converted colonial homes, tea and rubber
					plantation buildings, jungle cabins, tree-houses and eco-lodges,
					but also guest houses and home-stays offering economy deals for travellers on a budget.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- mfn_hook_content_after -->
<!-- mfn_hook_content_after -->
<!-- #Footer -->
<footer id="Footer" class="clearfix">


	<div class="widgets_wrapper">
		<div class="container">
			<div class="column one-second">
				<aside id="text-18" class="widget widget_text">
					<div class="textwidget">
						<p>
							2nd Floor, West 1 <br>
							Parklands Road<br />
							Nairobi Kenya<br />
						</p>
					</div>
				</aside>
			</div>
			<div class="column one-second">
				<aside id="text-19" class="widget widget_text">
					<div class="textwidget">
						Tel: (+254) 734387267 <br>
						Email: slhc.nairobi@mfa.gov.lk</br>
					</div>
				</aside>
			</div>
		</div>
	</div>

	<div class="footer_copy">
		<div class="container">
			<div class="column one">
				<a id="back_to_top" class="button button_js" href=""><i class="icon-up-open-big"></i></a>
				<!-- Copyrights -->
				<div class="copyright">
					High Commission of the Democratic Socialist Republic of Sri Lanka
				</div>
				<ul class="social"></ul>
			</div>
		</div>
	</div>
</footer>
</div>
{% endblock %}